* {
  margin: 0; 
  padding: 0; 
}

body{
  font-family: Arial;
  display: flex; 
  height: 100vh;
  justify-content: center; 
  align-items: center;
}

#calculator-container {
  border: 2px solid #c13d70; 
  width: 340px; 
  height: 590px; 
  border-radius: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cc3e77;
  box-shadow: 11px 10px 12px rgba(0, 0, 0, 0.25); 
  transition: box-shadow 0.3s; 
}
#calculator-container:hover{
  height: 600px;
  box-shadow: 11px 10px 13px rgba(0, 0, 0, 0.38); 
}
.display-container{ 
  width: 300px;
  height: 96px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-left: 20px;
  border: 1px solid #a7a6aa;  
  background-color: #e0dfe6;
  border-radius: 16px;
  margin-top: 20px;
  cursor: pointer; 
  transition: box-shadow 0.4s;
}

.display-container:hover{
  width: 305px;
  height: 101px; 
  box-shadow: 7px 8px 7px rgba(0, 0, 0, 0.25); 
}
.display{
  border: 2px solid #adb2ac; 
  width: 260px;
  height: 55px; 
  font-size: 24px;
  text-align: right; 
  padding: 6px;
  border-radius: 20px;
  cursor: pointer; 
  background-color: #bbc1ba; 
}

.display::placeholder{
  color: #000; 
  text-align: center;
  font-family: Parisienne; 
  font-size: 36px; 
}
.keyboard-container{
  height: 300px;
  margin-top: 27px;
  display: flex; 
  justify-content: center; 
  align-items: flex-start;  
}

.main-keyboard{
  width: 190px; 
  height: 300px;
  display: flex; 
  flex-wrap: wrap; 
}

.operators-keyboard{
  height: 297px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;  
}

.number-key,
#equal-key {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 11px;
  color: #000; 
  background-color: #ffff; 
  margin-bottom: 10px;
  margin-right: 10px;
  border-style: none;
  cursor: pointer; 
  transition: background-color 0.3s,
              color 0.3s; 
}

.number-key:hover{
  background-color: #ff7e26; 
  color: #fff; 
  box-shadow: 6px 5px 9px rgba(0,0,0,0.25); 
  font-size: 23px; 
}

#equal-key:hover{
  background-color: #ff7e26; 
  color: #fff;
  box-shadow: 6px 5px 9px rgba(0,0,0,0.25); 
  font-size: 25px;
}

.operator-key{
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 12px;
  color: #ffff; 
  background-color: #5d0000; 
  border-style: none;
  margin-bottom: 11px;
  cursor: pointer; 
  transition: background-color 0.3s;
}

.operator-key:hover{
  background-color: #b21c0e; 
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.15); 
  font-size: 30px;
}

#decimal-key{
  padding: 10px 22px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 11px;
  color: #000; 
  background-color: #ffff; 
  margin-bottom: 10px;
  margin-right: 10px;
  border-style: none;
  transition: background-color 0.3s;
  cursor: pointer; 
}

#decimal-key:hover{
  background-color: #ff7e26; 
  color: #fff; 
  box-shadow: 6px 5px 9px rgba(0,0,0,0.25); 
  font-size: 25px; 
}

#backspace-key{
  padding: 5px 7px;
  font-size: 15px;
  border-radius: 11px;
  color: #000; 
  background-color: #ffff; 
  margin-bottom: 10px;
  margin-right: 10px;
  border-style: none;
  cursor: pointer; 
}

#backspace-key:hover{
  background-color: #ff7e26; 
  color: #fff; 
  box-shadow: 5px 5px 6px rgba(0,0,0,0.15); 
}

#clear-key{
  padding: 5px 7px;
  font-size: 13px;
  border-radius: 11px;
  color: #000; 
  background-color: #ffff; 
  margin-bottom: 10px;
  margin-right: 10px;
  border-style: none;
  cursor: pointer; 
}

#clear-key:hover{
  background-color: #ff7e26; 
  color: #fff; 
  box-shadow: 6px 5px 9px rgba(0,0,0,0.15); 
}

#cute-btn{
  padding: 8px 4px;
  font-size: 16px; 
  font-weight: bold; 
  background-color: #bbc1ba; 
  cursor: pointer; 
  border-radius: 12px; 
  border: 4px solid #e0dfe6; 
}

#cute-btn:hover{
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);  
}