* {
  margin: 0; 
  padding: 0; 
}

body{
  font-family: Arial;
  display: flex; 
  height: 100vh;
  justify-content: center; 
  align-items: center;
}
/* putting borders around temp borders for divs to help with mapping */ 
#calculator-container {
  border: 2px solid #c13d70; 
  width: 340px; 
  height: 590px; 
  border-radius: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
   background-color: #cc3e77;
}

.display-container{
  border: 2px solid pink; 
  margin-bottom: 28px; 
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center; 
  margin-left: 17px;
  background-color: #e0dfe6;
}

.display{
  border: 2px solid green; 
  width: 200px;
  height: 32px; 
  font-size: 46px;
}

.keyboard-container{
  border: 2px solid brown; 
  height: 300px;
  margin-top: 20px;
  display: flex; 
  justify-content: center; 
  align-items: flex-start;  
}

.main-keyboard{
  border: 2px solid blue; 
  width: 200px; 
  height: 300px;
  display: flex; 
  flex-wrap: wrap; 
}

.operators-keyboard{
  border: 2px solid orange;
  height: 260px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
}

.number-key,
#clear-key,
#equal-key {
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 11px;
  color: #000; 
  background-color: #ffff; 
}

.operator-key{
  padding: 10px 18px;
  font-size: 28px;
  border-radius: 12px;
  color: #ffff; 
  background-color: #5d0000; 
  border-style: none;
}